<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="OracleDbContext" providerName="Oracle.ManagedDataAccess.Client" connectionString="User Id = MANAGER; Password = MANAGER_PASS; Data Source = localhost:1521/XE;Persist Security Info=True;" />
		<!--"(DESCRIPTION = (ADDRESS_LIST = (ADDRESS = (PROTOCOL = TCP)(HOST = localhost)(PORT = 1521))(CONNECT_DATA = (SERVICE_NAME = XE))); User Id = TDV; Password = hi; )"-->
	</connectionStrings>
	<!--<applicationSettings>
		<DevelopmentEnvironmentManager.WPF.Properties.Settings>
		</DevelopmentEnvironmentManager.WPF.Properties.Settings>
	</applicationSettings>-->
</configuration>